<h1>Log in</h1>
<%=form_tag log_in_path do  %>
	<%=label_tag :email  %>
	<%=text_field_tag :email  %>
	<%=label_tag :password  %>
	<%=password_field_tag :password  %>
	<%=submit_tag "Log in"  %>
<% end  %>

<%= link_to 'Sign up', "/users/new"%>