<%= form_for(@ingredient) do |f| %>
  <% if @ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% @ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    
  </div>
  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount, :class => 'form-control' %>
    </div>
    
  </div>
  
  <div class="control-group">
    <%= f.hidden_field :user_id, :class => 'control-label', :value => session[:user_id] %>
    <div class="controls">
      
    </div>
    
  </div>
  <div class="control-group">
    <%= f.hidden_field :meal_id, :class => 'control-label', :value => params[:meal] %>
    <div class="controls">
      
    </div>
    
  </div>
  <div class="control-group">
    <%= f.hidden_field :created_by, :class => 'control-label', :value => session[:user_id] %>
    <div class="controls">
      
    </div>
    
  </div>
  <div class="control-group">
    <%= f.hidden_field :created_at, :class => 'control-label', :value => Date.today.to_s %>
    <div class="controls">
      
    </div>
    
  </div>
  <div class="control-group">
    <%= f.hidden_field :updated_at, :class => 'control-label', :value => Date.today.to_s %>
    <div class="controls">
      
    </div>
    
  </div>
  <div class="control-group">
    <%= f.hidden_field :dish_id, :class => 'control-label', :value => params[:dishId] %>
    <div class="controls">
      
    </div>
    
  </div>
  <br/>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            events_path, :class => 'btn btn-primary' %>
  
 </div>
<% end %>
