<p id="notice"><%= notice %></p>
<h1><%= link_to @eventInfo.name, event_path(@eventInfo.id) %></h1>
<% @ingredient.each do |i|  %>
<h2><%= i.description %>: <%= i.amount %></h2>
<br/>
Meal: <%= link_to i.meal_description, meal_path(i.meal_id) %>
<br/>
Dish: <%= link_to i.dish_description, dish_path(i.dish_id) %>

<br/>
Owner: <%= link_to i.userName, user_path(i.user_id) %>
<br/>
<% end  %>
<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> 
<%= link_to 'Back', ingredients_path %>
