
<div class="headline">
Weekend Planner
</div>



<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="/assets/birds-54b26723709b8921f51421f17408a873c1202d0a612f53ccda42e4fe192d2ae2.mp4" type="video/mp4"
        </video>
        <div class="poster hidden">
            
        </div>
    </div>
</div>