<%= form_for @event, :html => { :class => "form-horizontal event" } do |f| %>

    <% if @event.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    
  </div>
  <div class="control-group">
    <%= f.label :eventBeginDate, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :eventBeginDate, :class => 'form-control' %>
    </div>
    
  </div>
  <div class="control-group">
    <%= f.label :eventEndDate, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :eventEndDate, :class => 'form-control' %>
    </div>
    
  </div>
  <div class="control-group">
    <%= f.hidden_field :created_by, :class => 'control-label', :value => @userInfo.userName %>
    <div class="controls">
      
    </div>
    
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            events_path, :class => 'btn btn-default' %>

<% end %>
