<%- model_class = Event -%>
<div class="page-header">
  <h1><%= @event.name %></h1>
</div>

<% @numDays = ((@event.eventEndDate.to_date - @event.eventBeginDate.to_date).to_i) + 1 %>
<%= content_tag :div, class: "temp_information", data: {eventId: @currentEventId, userId: session[:user_id]} do %>
            <% end %>
<div id="content">
 


    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#Admin" data-toggle="tab">Admin</a></li>
        
        <% @numDays.times do |i| %>
            
            <li><a href=<%= ('"#Day' + (i + 1).to_s + '" data-toggle="tab">Day ' + (i + 1).to_s).html_safe %> </a></li>

        <% end %>
        <li><a href="#Media" data-toggle="tab">Media</a></li>
        
    </ul>


    <div id="my-tab-content" class="tab-content">
        
        <div class="tab-pane active" id="Admin">
            <br/>
            <h2>Attendees</h2>
            <% @attending.each do |p| %>
               <%= p.userName %>   

            <% end %>
            <br/>
            <br/>
            <br/>
            <h2>Things to bring</h2>   
            <br/>
            <h3>Ingredients</h3>
            <% @myIngredients.each do |m| %>
            <%= link_to m.ingDescription, ingredient_path(m.ingredient_id) %>
            <br/>
            <% end %>
        </div>

        <% @numDays.times do |i| %>
            <%= ('<div class="tab-pane" id="Day' + (i + 1).to_s + '">').html_safe %>
            <br/>
            <button <%='Day' + (i + 1).to_s + '_meal_add'%>> <%= link_to "+ Meals", "../meals/new?day=" + (i+1).to_s + "&userId=" + session[:user_id].to_s + "&eventId=" + @currentEventId  %> </button>
            <br/>
            <br/>
            <% @allMeals.each do |am| %>
                <% if am.day == (i + 1) %>

                    <div class="panel panel-default">
                   
                      <div class="panel-heading">
                            <h3 class="panel-title"><%= link_to am.description, meal_path(am.id) %></h3>
                            </div>
                            <div class="panel-body">
                            
                    <% @allDishes.each do |d| %>
                        <% if d.meal_id == am.id %>
                            <tr>
                            <td><%= (link_to d.description, dish_path(d.id))%></td>
                            <td><%= d.userName %></td>
                            </tr>
                            <br/>
                        <% end %>
                    <% end %>
                    </table>
                        </div>
                    </div>
                <% end %>
            <% end %>
            <%= ('</div>').html_safe %>
        <% end %>
        
        <div class="tab-pane" id="Media">
            <p>Media</p>
            </div>
        
    </div>
</div>