<% @eventId = params[:eventId] %>
<%= form_for(@meal) do |f| %>
  <% if @meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% @meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    
  </div>
  
  <div class="control-group">
    <%= f.hidden_field :day, :class => 'control-label', :value => params[:day] %>
    <div class="controls">
      
    </div>
    
  </div>
  <div class="control-group">
    <%= f.hidden_field :event_id, :class => 'control-label', :value => params[:eventId] %>
    <div class="controls">
     
      
    </div>
    
  </div>
  
<div class="control-group">
    <%= f.hidden_field :user_id, :class => 'control-label', :value => params[:userId] %>
    <div class="controls">
     
     
    </div>
    
  </div>
  <div class="control-group">
    <%= f.hidden_field :created_at, :class => 'control-label', :value => Date.today.to_s %>
    <div class="controls">
     
     
    </div>
    
  </div>
  <div class="control-group">
    <%= f.hidden_field :updated_at, :class => 'control-label', :value => Date.today.to_s %>
    <div class="controls">
     
     
    </div>
    
  </div>

  <br/>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            events_path, :class => 'btn btn-primary' %>
  
 
  </div>
<% end %>
