<p id="notice"><%= notice %></p>
<h1><%= link_to @eventInfo.name, event_path(@eventInfo.id) %></h1>
<h2><%= @mealName.description %> </h2>
<br/>
<button <%='dish_add'%>> <%= link_to "+ Dish", "../dishes/new?meal=" + @mealId + "&eventId=" + @meal[0].event_id.to_s%> </button>
<br/>
<br/>
<table class="table table-striped">
<% @dish.each do |d| %>
	<div class="panel panel-default">
  <div class="panel-heading">
		<h3 class="panel-title"><%= (link_to d.description, dish_path(d.id)) + " - " + d.userName %></h3>
		</div>
	
	<div class="panel-body">
	<% @ingredients.each do |i| %>
	<% if i.dish_id == d.id %>
		<%= link_to i.description + ": " + i.amount, ingredient_path(i.id) %>
		<br/>
		

	<% end %>
	
	<% end %>
	</div>
</div>
	
	
		<br/>
<% end %>



<br/>
<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
