<p id="notice"><%= notice %></p>
<h1><%= link_to @eventInfo.name, event_path(@eventInfo.id)%></h1>
<br/>
<button <%='name="ingredient_add"'%>> <%= link_to "+ Ingredient", "../ingredients/new?meal=" + @dishName[0].meal_id.to_s + "&dishId=" + @dishId.to_s%> </button>
<br/>
<br/>


<% @dishName.each do |dn| %>
	<h2><%= dn.dish_description %></h2>
	<br/>
	Meal: <%= link_to dn.meal_description, meal_path(dn.meal_id) %>
	<br/>
	Owner: <%= link_to dn.userName, user_path(dn.user_id) %>
	<br/>
	Ingredients:
	<br/>
<% end %>
<% @ingredients.each do |d| %>
	<%= link_to d.ingredient_description + ": " + d.amount, ingredient_path(d.ingredient_id) %>
	<br/>
	


<% end %>

<br/>
<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>


